body {
  background-image: url(https://images.unsplash.com/photo-1537124076098-8e674179b479?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: center;
  overflow: hidden;


  section {
    display: flex;
    justify-content: center;
    align-items: center;


    ul {
      list-style: none;
      text-align: center;
      font-size: 25px;
      color: white;
      font-family: 'Press Start 2P', cursive;

      li {
        padding: 10px;
        cursor: pointer;
      }
    }

    div {
      text-align: center;
      color: white;
      font-size: 45px;
      font-family: 'Cute Font', cursive;
      margin-left: 100px;
      min-width: 300px;
      min-height: 300px;
      padding-top: 50px;
    }
  }
}



.spinner {
  width: 40px;
  height: 40px;
  background-color: white;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}